// Цвета
$primary-color: #6e48aa;
$secondary-color: #9d50bb;
$accent-color: #4776e6;
$text-color: #f1f1f1;
$bg-color: #121212;
$card-bg: rgba(30, 30, 30, 0.8);
$text-secondary: rgba(255, 255, 255, 0.7);

// Шрифты
$font-main: 'Exo 2', sans-serif;
$font-mono: 'Saira Stencil One', monospace;

// Отступы
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;
$padding-xl: 60px;

// Переходы
$transition-fast: 0.3s;
